

h1{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: cursive, sans-serif;
    font-weight: bold;
}

section{
    position: relative;
    overflow: hidden;
    height: 200px;
    background-color: #808080;
    margin: 10px;
    border: 3px solid black;
}


@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12{
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-6 {
    width: 50%;
  }
}

p.foo{
  font-size: 20px;
  font-family: cursive, sans-serif;
  font-weight: bold;
  position: absolute;
  right: 0%;
  margin-top: 0%;
  text-align: center;
  background-color: orange;
  width: 200px;
  border: 3px solid black;
  border-top: unset;
  border-right: unset;
}

p.text{
  padding-top: 20px;
  font-family: cursive, sans-serif;
  padding-left: 10px;
}

#three.foo {
 background-color: yellow;
}

#two.foo {
  background-color: red;
  color: white;
}

#one.foo{
  background-color: lightcoral;
}