body{
    font-family: cursive,sans-serif;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: x-large;
    font-weight: bold;
}
header{
    background-color: gray;
}
 
#foo{
    background-color: #020202 ;
    width: 100%;
    height: 3.5px;
}

#fqq{
    font-weight: bold;
}

#passage{
   background-color: gray;
   margin-top: 40px;
   padding: 20px;
   max-width : 92%;
   margin-bottom: 30px;
}
#fww{
    font-size: large; 
}
li{
   font-weight: bold;
   font-size: large;
}
